@import "tailwindcss";

:root {
  --verde:         #4A8C72;
  --verde-light:   #ECF5F0;
  --verde-mid:     #BDDDD1;
  --fondo:         #EFECE7;
  --surface:       #FAFAF8;
  --surface2:      #F4F1EC;
  --borde:         #DED9D0;
  --texto:         #201E1A;
  --texto2:        #736B62;
  --texto3:        #B0A89F;
  --naranja:       #C45A0A;
  --naranja-light: #FEF0E6;
  --naranja-borde: #F4B896;
  --rojo:          #B83232;
  --rojo-light:    #FCEAEA;
  --indigo:        #4845D2;
  --indigo-light:  #EEEEFF;
  --indigo-borde:  #C4C2F0;
}

@theme inline {
  --color-verde:         var(--verde);
  --color-verde-light:   var(--verde-light);
  --color-verde-mid:     var(--verde-mid);
  --color-fondo:         var(--fondo);
  --color-surface:       var(--surface);
  --color-surface2:      var(--surface2);
  --color-borde:         var(--borde);
  --color-texto:         var(--texto);
  --color-texto2:        var(--texto2);
  --color-texto3:        var(--texto3);
  --color-naranja:       var(--naranja);
  --color-naranja-light: var(--naranja-light);
  --color-naranja-borde: var(--naranja-borde);
  --color-rojo:          var(--rojo);
  --color-rojo-light:    var(--rojo-light);
  --color-indigo:        var(--indigo);
  --color-indigo-light:  var(--indigo-light);
  --color-indigo-borde:  var(--indigo-borde);

  --font-serif:  var(--font-source-serif);
  --font-sans:   var(--font-dm-sans);
  --font-mono:   var(--font-dm-mono);
}

html, body {
  background-color: var(--fondo);
  color: var(--texto);
  font-family: var(--font-dm-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
